.item-container {
  width: 45%;
  list-style-type: none;
  font-family: 'Roboto';
  margin-bottom: 10px;
}
.button {
  outline: none;
  border: none;
  cursor: pointer;
  padding: 0px;
  background-color: transparent;
}
.event-image {
  width: 100%;
  height: 80px;
}
@media screen and (min-width: 768px) {
  .event-image {
    height: 160px;
  }
}
.name {
  font-size: 15px;
  font-weight: 600;
  color: #ffffff;
}
@media screen and (min-width: 768px) {
  .name {
    font-size: 25px;
  }
}
.place {
  font-size: 10px;
  color: #ffffff;
  font-weight: 500;
  margin-top: 0px;
}
@media screen and (min-width: 768px) {
  .place {
    font-size: 20px;
  }
}
.active {
  border: 3px solid #2dd4bf;
}
